
.vlocity/vlocity_utilities.project.yaml

.vlocity/vlocity_utilities_local.project.yaml

.sfdx/tools/tempApex.input

.sfdx/tools/apex.db

.sfdx/sfdx-config.json

.sfdx/orgs/kcom0319\@comms.demo/metadataTypeInfos.json

.sfdx/tools/debug/logs/

.sfdx/typings/lwc/

*.log

.vlocity/
vlocity-temp/

VlocityBuildLog.yaml

.sfdx/indexes/lwc/custom-components.json

.vscode/settings.json

.sf/config.json

.sf/orgs/00DWV000003HAyv2AG/localSourceTracking/config

.sf/orgs/00DWV000003HAyv2AG/localSourceTracking/HEAD

manifest/manimani.xml
